/* Link to the cursive web font "margaret" */
body
{
  font-family: Georgia, Times, serif;
}

/* Bootstrap adjustments */

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

/* Square corners on nav bar pills */
.nav-pills>li>a {
  border-radius: 0px;
}

/* nav bar colours and fonts */
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover
{
  color: #f5f54c;
  background-color: #414157;
}

a,
a:focus,
a:hover
{
  color: #5f5f80;
}

.nav-pills a {
  font-family: Georgia, Times, serif;
  font-size: 16px;
}

/* End Bootstrap adjustments */

/* logo */
.logo-big
{
  font-family: margaret;
  font-size: 46px;
  color: #414157;
  line-height: 140%;
}

.logo-big-caps
{
  font-size: 208px;
  text-shadow: 8px 5px 3px #d2d2da;
}

.logo-small
{
  font-family: margaret;
  font-size: 18px;
  color: #414157;
  line-height: 140%;
}

.logo-small-caps
{
  font-size: 84px;
  text-shadow: 3px 2px 2px #d2d2da;
}
