<h1 class="logo-big hidden-xs">
    <span class="logo-big-caps">P</span><span style="position: relative; right: 43px; top: -20px;">ierre de</span>
    <span class="logo-big-caps" style="position: relative; right: 99px;">L</span><span style="position: relative; right: 154px; top: -20px;">une</span>
</h1>
<h1 class="logo-small hidden-sm hidden-md hidden-lg">
    <span class="logo-small-caps">P</span><span style="position: relative; right: 16px; top: -9px;">ierre de</span>
    <span class="logo-small-caps" style="position: relative; right: 35px;">L</span><span style="position: relative; right: 57px; top: -9px;">une</span>
</h1>
