<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container-fluid">
  {% if site.time > page.date %}
    {% assign active-url = '/concerts-passes.html' %}
  {% else %}
    {% assign active-url = '/concerts-a-venir.html' %}
  {% endif %}
  {% include nav.html %}
  <div class="tab-content col-sm-9">
    <object height="770" width="500" data="/affiches/{{ page.affiche }}" type="application/pdf">
      <a href="/affiches/{{ page.affiche }}">Voir l'affiche en PDF</a>
    </object>
  </div>
</div>
{% include js-includes.html %}
</body>
</html>
